@import '../../sass/Variables.scss';
@import '../../sass/Animations.scss';

.project-card {
	flex-flow: row wrap;
	width: 80vw;
	max-width: 350px;
	flex: 1 1 350px;
	margin: 0 2rem 3.5rem 2rem;
	padding: 10px;
	min-height: 200px;
	border-radius: 10px;

	&__photo {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 200px;
		margin-bottom: 2rem;
		background-size: cover;
		background-position: 0 0;
		background-repeat: no-repeat;
		font-size: 3rem;
		color: $white;
		text-transform: uppercase;
		border-radius: 10px;
		z-index: 1;
	}

	&__photo::before {
		content: attr(data-title_1) ' ';
		position: absolute;
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-start;
		align-items: center;
		left: 0;
		width: 50%;
		height: 100%;
		border-radius: 8px 0 0 8px;
		background-color: rgba($color: #000000, $alpha: 0.8);
		z-index: 1;
		text-align: right;
		transition: width 1s;
	}
	&__photo::after {
		content: attr(data-title_2) ' ';
		position: absolute;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		right: 0;
		width: 50%;
		height: 100%;
		border-radius: 0 8px 8px 0;
		background-color: rgba($color: #000000, $alpha: 0.8);
		z-index: -1;
		transition: width 1s;
	}
	&__photo:hover::before,
	&__photo:hover::after {
		cursor: pointer;
		width: 0%;
		animation: 0.8s 1 normal hidden_project_title;
		animation-fill-mode: forwards;
	}
	&__photo:hover {
		animation: 1s 1 normal resizing_project_photo;
		animation-delay: 0.3s;
		animation-fill-mode: forwards;
	}

	&__btns {
		display: flex;
		justify-content: space-around;
		width: 100%;
	}
	&__btn {
		width: 100%;
		aspect-ratio: 8 / 1;
		padding: 0.4rem 0.4rem;
		margin: 0.5rem 0;
		text-transform: uppercase;
		font-size: 1.8rem;
		border-radius: 8px;
		transition: scale 0.5s;
	}

	&__btn:hover {
		scale: 1.05;
		cursor: pointer;
	}

	&__description {
		margin: 1rem;
		text-align: left;
		h3 {
			font-size: 2.2rem;
		}
		&--text {
			margin: 0.3rem 0 1rem 0;
			font-size: 1.6rem;
		}
	}
	&__edit-btn,
	&__del-btn {
		width: 45%;
		aspect-ratio: 3 / 1;
		margin: 0 1rem;
		padding: 0.4rem 0.4rem;
		border-radius: 8px;
		font-size: 1.8rem;
	}
	&__edit-btn:hover,
	&__del-btn:hover {
		cursor: pointer;
	}
}
.accordion {
	&__btn {
		background: none;
		width: 100%;
		aspect-ratio: 10 / 1;
		padding: 0.4rem 0.4rem;
		margin: 0.5rem auto;
		border-radius: 8px;
		transition: scale 0.5s;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}
	&__btn:hover {
		cursor: pointer;
	}
}
#light .project-card {
	background-color: $white;
	box-shadow: 0px 0px 20px -10px;

	&__photo {
		border: 1px solid $primary-color;
	}
	&__btn {
		color: $white;
		background-color: $primary-color;
		border: 1px solid $black;
	}

	&__edit-btn,
	&__del-btn {
		color: $white;
		background-color: $third-color;
		border: 1px solid $black;
	}
	&__edit-btn:hover,
	&__del-btn:hover {
		background-color: $primary-color;
		border: 1px solid $third-color;
	}
}
#dark .project-card {
	background-color: $primary-color;
	box-shadow: 0px 0px 20px -10px $primary-color;

	&__photo {
		border: 1px solid $white;
	}
	&__btn {
		color: $white;
		background-color: $third-color;
		border: 1px solid $white;
	}

	&__edit-btn,
	&__del-btn {
		color: $white;
		background-color: $third-color;
		border: 1px solid black;
	}
	&__edit-btn:hover,
	&__del-btn:hover {
		color: $black;
		background-color: $white;
		font-weight: bold;
		border: 2px solid $third-color;
	}
}
#light .accordion {
	&__btn {
		border: 1px solid $black;
		background-image: url(../../icons/drop-down.png);
	}
}
#dark .accordion {
	&__btn {
		border: 1px solid $white;
		background-image: url(../../icons/drop-down-white.png);
	}
}
@media (min-width: 2000px) {
	.project-card {
		max-width: 400px;
		flex: 1 1 400px;
	}
}
