@import '../../sass/Variables.scss';

.projects-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 5rem;
	font-size: 1.4rem;
	background-color: $primary-color;

	z-index: 10;

	&__git {
		padding: 1rem 3rem;
		background-color: $secendary-color;
		font-size: 1em;
		border: 1px solid black;
		border-radius: 8px;
		transition: scale 0.5s;
	}
	&__git:hover {
		scale: 1.1;
		cursor: pointer;
	}
	&__add-btn {
		margin-left: 1rem;
		padding: 1rem 3rem;
		font-size: 1em;
		border-radius: 8px;
		background-color: rgb(37, 134, 91);
		color: black;

		border: 1px solid black;
	}
}
@media (min-width: 368px) {
	.projects-footer {
		&__git {
			padding: 1rem 4rem;
		}

		&__add-btn {
			padding: 1rem 4rem;
		}
	}
}
@media (min-width: 440px) {
	.projects-footer {
		font-size: 1.8rem;
	}
}
