@import '../../sass/Variables.scss';

.project-add-form {
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 2rem 0;
	font-size: 2.5rem;

	&__label {
		align-self: flex-start;
		color: $secendary-color;
		font-size: 0.6em;
	}
	&__input {
		width: 100%;
		margin: 1rem 0;
		resize: none;
	}
	&__error {
		color: red;
		margin: 2rem;
		font-size: 3rem;
		text-align: center;
	}
	&__btns {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		&__cancel-btn,
		&__save-btn {
			padding: 0.6rem 1.8rem;
			margin: 1rem;
			font-size: 0.8em;
			border-radius: 8px;
		}
	}
}
@media (min-width: 992px) {
	.project-add-form {
		font-size: 4rem;
	}
}
