@import '../../sass/Variables.scss';

.delete-project-box {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	font-size: 2.5rem;

	&__delete-msg {
		color: red;
		margin-bottom: 1rem;
		font-size: 2rem;
	}

	&__delete-btn,
	&__cancel-btn {
		padding: 0.6rem 1.8rem;
		margin: 1rem;
		font-size: 1.8rem;
		border-radius: 8px;
	}
}
