@keyframes popup_move_down {
	from {
		top: -100%;
	}
	to {
		top: 50%;
	}
}

@keyframes resizing_avatar {
	from {
		width: 8rem;
		height: 8rem;
	}
	to {
		width: 28rem;
		height: 28rem;
	}
}
@keyframes resizing_project_photo {
	from {
		scale: 1;
	}
	to {
		scale: 1.2;
		border-radius: 10px;
	}
}

@keyframes hidden_project_title {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
