.hamburger {
	position: fixed;
	right: 15px;
	top: 10px;
	width: 50px;
	height: 40px;
	padding: 5px 0px 0px 10px;
	background-color: transparent;
	background-image: url(../icons/icons-menu.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position-x: center;
	border: none;
	transition: background-color 0.3s;
	z-index: 5;
}
.hamburger:hover {
	cursor: pointer;
}
