$primary-color: #04304b;
$primary-color: #14156c;
$third-color: #232323;
$primary-lighter-color: #054064;
$secendary-color: #afabaa;
$form-focused: #efc97e;
$white: #fff;
:root {
	--p1: 'ala';
	--p2: 'kot';
}
