// $primary-color: #04304b;
// $primary-color: #14156c;
$primary-color: #4274ad;
$primary-color-transparent: rgba(66, 116, 173, 0.9);
$third-color: #232323;
$primary-lighter-color: #054064;
$secendary-color: #afabaa;
$form-focused: #efc97e;
$white: #fff;
$black: #000;
:root {
	--p1: 'ala';
	--p2: 'kot';
}
