@import '../../sass/Variables.scss';

.desctop_menu {
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	top: 0;
	left: 0;
	width: 100vw;
	height: 60px;
	padding-right: 2rem;
	background-color: transparent;

	&__link {
		margin: 0 0.8rem;
		font-size: 2.2rem;
		padding: 0 1rem;
		text-decoration: none;
		color: $third-color;

		&--active {
			margin: 0 0.8rem;
			font-size: 2.2rem;
			padding: 0 1rem;
			text-decoration: none;
			color: $third-color;
			border-bottom: 1px solid $white;
		}
	}
	&__link:hover {
		border-bottom: 1px solid $third-color;
	}

	&__github-link {
		display: flex;
		width: 100%;
		font-size: 4rem;
		border: none;
		background: none;
	}
}
.git-ico {
	display: inline-block;
	width: 5rem;
	height: 5rem;
	margin: 0 -10px -10px -10px;
	background-image: url(../../icons//icons-github.svg);
}
