.hamburger-panel {
	position: fixed;
	display: flex;
	flex-direction: row-reverse;
	top: 0;
	left: -100vw;
	width: 100vw;
	height: 100%;
	background-color: #fff;
	transition: left 0.3s;
	overflow: auto;
	z-index: 6;

	&__isactive {
		left: 0vw;
	}
	&__menu {
		display: flex;
		flex-direction: column;
		width: 100vw;
		height: calc(100% - 70px);
		margin-top: 70px;
		padding: 20px;
		font-size: 8rem;
		color: rgb(45, 45, 45);
	}
	&__link {
		margin: 1rem;
		padding: 5px;
		font-size: 3.5rem;
		color: black;
		text-decoration: none;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
}
.brightnes-mode {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-size: 2rem;
	label {
		margin: 0 1rem;
	}
}
