@import '../../sass/Variables.scss';

.login-form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 2.5rem;

	&__label {
		color: $black;
		margin-bottom: 0.6rem;
	}
	&__input {
		margin-bottom: 1rem;
	}
	&__error {
		color: red;
		margin: 1rem;
		text-align: center;
	}
	&__btn {
		margin: 1rem 1rem 0 1rem;
		padding: 0.8rem 4rem;
		color: $black;
		background-color: $white;
		font-size: 1.6rem;
		border: 1px solid $third-color;
		border-radius: 8px;
		transition: background-color 0.3s;

		&:hover {
			cursor: pointer;
			background-color: $third-color;
			color: $white;
			border: 1px solid $third-color;
		}
	}
}
@media (min-width: 768px) {
	.login-form {
		font-size: 3.5rem;
	}
}
