@import '../../sass/Variables.scss';

.contact-form {
	width: 80vw;
	max-width: 60rem;
	margin: 2rem;
	font-size: 4rem;
	form {
		display: flex;
		flex-flow: column wrap;
	}
	&__label {
		font-size: 1em;
		margin-bottom: 1rem;
	}
	&__label::after {
		content: '*';
		margin-left: 0.3rem;
		color: red;
	}
	&__input,
	&__textarea {
		padding: 0.5rem;
		width: 100%;
		margin-top: 0.3rem;
		margin-bottom: 1rem;
		font-size: 0.6em;
		border: 1px solid $primary-color;
		border-radius: 5px;
	}
	&__textarea {
		min-height: 20rem;
		max-height: 50rem;
		margin-bottom: 2rem;
		resize: vertical;
	}

	textarea:focus {
		border-color: $form-focused;
	}
	&__error-info {
		display: block;
		margin-top: -0.5rem;
		margin-bottom: 0.5rem;
		font-size: 0.4em;
		font-style: italic;
		color: red;
	}
	&__submit-btn {
		align-self: flex-end;
		height: 5rem;
		padding: 0.6rem 1.8rem;
		font-size: 2rem;
		color: $white;
		background-color: $third-color;

		border: 1px solid $primary-color;
		border-radius: 5px;
		transition: scale 0.5s;

		&:hover {
			cursor: pointer;
			transform: scale(1.1);
		}
		&:disabled {
			color: $black;
			background-color: $white;
			border: 1px solid $third-color;
			cursor: default;
			transform: scale(1);
		}
	}
}
@media (min-width: 992px) {
	.contact-form {
		font-size: 5rem;
	}
}
