@import '../../sass/Variables.scss';

.msg {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
	padding: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
	color: $black;
	text-align: center;
}
.msg-close {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 4rem;
	height: 4rem;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0 0;
	color: $black;
	background-image: url(../../icons/icons-close-hamburger.svg);
	&:hover {
		cursor: pointer;
	}
}

@media (min-width: 992px) {
	.msg {
		font-size: 5rem;
	}
}
