@import '../../sass/Variables.scss';

.contact-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 80vw;
	max-width: 40rem;
	margin: 1rem 0;
	padding: 2rem;
	font-size: 4rem;
	border-radius: 10px;

	&__head {
		width: 100%;
		margin-bottom: 10px;
		font-size: 0.5em;
		text-align: center;
	}

	li {
		display: flex;
		margin-bottom: 10px;
		list-style: none;
		font-size: 1em;
	}
	li:last-child {
		margin-bottom: 0px;
	}

	a {
		display: flex;
		font-size: 1em;
		text-decoration: none;
		transition: margin-left 1s;
		&:hover {
			cursor: pointer;
			margin-left: 25%;
		}
	}
	&__linkedin-ico {
		width: 50px;
		height: 50px;
		background-repeat: no-repeat;
		background-size: contain;
	}
	&__tel-ico {
		width: 50px;
		height: 50px;
		background-repeat: no-repeat;
		background-size: contain;
	}
	&__mail-ico {
		width: 50px;
		height: 50px;
		background-repeat: no-repeat;
		background-size: contain;
	}
	p {
		margin: auto 0 auto 10px;
	}
	&__edit-btn {
		margin: 1rem 1rem 0 1rem;
		padding: 0.8rem 4rem;
		font-size: 1.6rem;
		border-radius: 8px;
		transition: background-color 0.3s;

		&:hover {
			cursor: pointer;
		}
	}
	&__edit-message {
		margin-top: 1rem;
		font-size: 1.5rem;
		color: green;
	}
}

#light .contact-info {
	color: $black;
	background-color: $white;
	border: 1px solid $primary-color;
	box-shadow: 0px 0px 20px -10px $black;

	a {
		color: $primary-color;
	}
	&__linkedin-ico {
		background-image: url(../../icons/icons-linkedin.svg);
	}
	&__tel-ico {
		background-image: url(../../icons/icons-tel.png);
	}
	&__mail-ico {
		background-image: url(../../icons/icons-mail.png);
	}

	&__edit-btn {
		color: $white;
		background-color: $third-color;

		border: 1px solid $primary-color;

		&:hover {
			background-color: $primary-color;
			border: 1px solid $third-color;
		}
	}
}
#dark .contact-info {
	color: $white;
	background-color: $primary-color;
	border: 1px solid $white;
	box-shadow: 0px 0px 20px -10px $primary-color;

	a {
		color: $white;
	}
	&__linkedin-ico {
		background-image: url(../../icons/icons-linkedin-black.svg);
	}
	&__tel-ico {
		background-image: url(../../icons/icons-tel-black.png);
	}
	&__mail-ico {
		background-image: url(../../icons/icons-mail-black.png);
	}

	&__edit-btn {
		color: $white;
		background-color: $third-color;

		border: 1px solid $primary-color;

		&:hover {
			color: $black;
			font-weight: bold;
			background-color: $white;
			border: 1px solid $third-color;
		}
	}
}
@media (min-width: 390px) {
	.contact-info {
		font-size: 5rem;
	}
}
@media (min-width: 1600px) {
	.contact-info {
		justify-self: center;
		align-self: start;
		grid-column: 2/3;
		grid-row: 2/3;
		margin: 4rem 0;
	}
}
