@import '../../sass/Variables.scss';

.contact-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 80vw;
	max-width: 40rem;
	margin: 1rem 0;
	padding: 2rem;
	font-size: 4rem;
	background-color: $white;
	border: 1px solid $primary-color;
	border-radius: 10px;
	box-shadow: 0px 0px 20px -10px;

	&__head {
		width: 100%;
		margin-bottom: 10px;
		font-size: 0.5em;
		text-align: center;
	}

	li {
		display: flex;
		margin-bottom: 10px;
		list-style: none;
		font-size: 1em;
	}
	li:last-child {
		margin-bottom: 0px;
	}

	a {
		display: flex;
		font-size: 1em;
		color: $primary-color;
		text-decoration: none;
	}
	&__linkedin-ico {
		width: 50px;
		height: 50px;
		background-image: url(../../icons/icons-linkedin.svg);
		background-repeat: no-repeat;
		background-size: contain;
	}
	&__tel-ico {
		width: 50px;
		height: 50px;
		background-image: url(../../icons/icons-tel.png);
		background-repeat: no-repeat;
		background-size: contain;
	}
	&__mail-ico {
		width: 50px;
		height: 50px;
		background-image: url(../../icons/icons-mail.png);
		background-repeat: no-repeat;
		background-size: contain;
	}
	p {
		margin: auto 0 auto 10px;
	}
	&__edit-btn {
		margin: 1rem 1rem 0 1rem;
		padding: 0.8rem 4rem;
		color: $white;
		background-color: $third-color;
		font-size: 1.6rem;
		border: 1px solid $primary-color;
		border-radius: 8px;
		transition: background-color 0.3s;

		&:hover {
			cursor: pointer;
			background-color: $primary-color;
			border: 1px solid $third-color;
		}
	}
	&__edit-message {
		margin-top: 1rem;
		font-size: 0.5em;
		color: green;
	}
}
@media (min-width: 390px) {
	.contact-info {
		font-size: 5rem;
	}
}
