@import '../../sass/Variables.scss';
.fixed-icons {
	position: fixed;
	left: -9rem;
	width: 15rem;
	height: 6rem;
	display: none;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.5rem 0 1.5rem;
	font-size: 4rem;
	font-weight: bold;
	border-radius: 0 10px 10px 0;
	box-shadow: 0px 0px 20px -10px;
	transition: left 0.3s;

	&:hover {
		left: 0%;
		cursor: pointer;
	}
	&__theme {
		top: 28rem;
	}
	&__github {
		top: 34rem;
		background-color: $primary-color;

		a {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			text-decoration: none;
			color: $white;
		}
		.github-icon {
			width: 5rem;
			height: 5rem;
			background-image: url(../../icons/icons-github.svg);
		}
	}
}
#light .fixed-icons {
	box-shadow: 0px 0px 20px -10px;
	&__theme {
		background-color: $third-color;
		.theme-icon {
			width: 4rem;
			height: 4rem;
			margin-right: 0.5rem;
			background-image: url(../../icons/sun.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
	}
}
#dark .fixed-icons {
	&__theme {
		border: 2px solid $primary-color;
		background-color: $white;
		.theme-icon {
			width: 4rem;
			height: 4rem;
			margin-right: 0.5rem;
			background-image: url(../../icons/moon.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
	}
	&__github {
		border: 2px solid $white;
	}
}
@media (min-width: 800px) {
	.fixed-icons {
		display: flex;
	}
}
