@import '../../sass/Variables.scss';
.loading {
	max-width: 90vw;
	min-height: 100vh;
	margin: -60px 5vw 0 5vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 4rem;
	overflow: hidden;
	& > * {
		margin: 1rem;
	}
}
#light .loading {
	color: $black;
}
#dark .loading {
	color: $white;
}
