@import '../../sass/Variables.scss';
.loading {
	max-width: 100vw;
	min-height: 100vh;
	margin-top: -60px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 4rem;
	overflow: hidden;
}
#light .loading {
	color: $black;
}
#dark .loading {
	color: $white;
}
