@import '../../sass/Variables.scss';
.ApiConnectionErrorPage {
	max-width: 100vw;
	min-height: 100vh;
	margin-top: -60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	font-size: 6rem;
	overflow: hidden;

	h2 {
		width: 80%;
		height: auto;
		text-align: center;
	}
}
#light .ApiConnectionErrorPage {
	color: $black;
}
#dark .ApiConnectionErrorPage {
	color: $white;
}
