@import '../../sass/Variables.scss';
.cv {
	display: flex;
	align-items: center;
	margin: 1rem 2rem;

	&__link {
		display: flex;
		text-decoration: none;
		color: #000;
		a:visited {
			color: black;
		}
	}

	&__download-icon {
		height: 50px;
		width: 50px;
		padding: 20px;
		background-image: url('../../icons/icons-applicant.png');
		background-repeat: no-repeat;
	}

	&__edit-btn {
		aspect-ratio: 6 / 1;
		margin: 0.2rem 1rem;
		padding: 0.8rem;
		background-color: $primary-color;
		color: $secendary-color;
		font-size: 1.6rem;
		border: none;
		border-radius: 8px;
	}
}
