@import '../../sass/Variables.scss';
.my-descryption {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 80%;
	max-width: 45rem;
	margin: 3rem 2rem 4rem 2rem;
	// text-align: left;
	font-size: 1.8rem;
	text-indent: 1.5em;

	&__edit-btn {
		width: 50%;
		aspect-ratio: 6 / 1;
		margin: 2rem 2rem 0.5rem 2rem;
		padding: 0.3rem;
		background-color: $primary-color;
		color: $secendary-color;
		font-size: 1.6rem;
		border: none;
	}
}
.my-descryption::first-letter {
	font-size: 3rem;
}
.my-descryption::after {
	content: ' ';
	display: block;
	position: absolute;
	right: 0%;
	bottom: 0%;
	width: 30%;
	height: 30%;
	margin: -15px -15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.6);
	border-right: 1px solid rgba(0, 0, 0, 0.6);
	box-shadow: 3px 3px 4px -2px rgba(0, 0, 0, 0.3);
}
.my-descryption::before {
	content: ' ';
	display: block;
	position: absolute;
	left: 0%;
	top: 0%;
	width: 30%;
	height: 30%;
	margin: -15px -15px;
	border-top: 1px solid rgba(0, 0, 0, 0.6);
	border-left: 1px solid rgba(0, 0, 0, 0.6);
	box-shadow: -3px -3px 4px -2px rgba(0, 0, 0, 0.3);
}
