@import '../../sass/Variables.scss';

.skills-box {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 80vw;
	max-width: 38rem;
	padding: 1rem 2rem 2rem 2rem;
	margin: 2rem 3rem;
	font-size: 1em;
	border-radius: 10px;

	&__list {
		list-style: none;
		font-size: 0.8em;
		&__btn {
			margin: 0.5rem;
			padding: 0.5rem 1rem;
			border-radius: 6px;
			transition: background-color 0.3s;
		}
		&__btn:hover {
			cursor: pointer;
		}
	}
	&__list li::before {
		content: '-';
		width: 1rem;
		height: 1rem;
		margin-right: 0.5rem;
	}
	h1 {
		font-size: 2.2rem;
		text-align: center;
		margin-bottom: 1rem;
	}

	&__btn {
		margin: 0.5rem;
		padding: 0.8rem;
		border-radius: 8px;
	}
	&__add-btn,
	&__delete-all-btn {
		font-size: 1.6rem;
		transition: background-color 0.3s;
	}
	&__add-btn:hover,
	&__delete-all-btn:hover {
		cursor: pointer;
	}
}

#light .skills-box {
	color: $black;
	background-color: $white;
	border: 1px solid $primary-color;
	box-shadow: 0px 0px 20px -10px $black;

	&__list {
		&__btn {
			color: $white;
			background-color: $third-color;
			border: 1px solid $primary-color;
		}
		&__btn:hover {
			background-color: $primary-color;
			border: 1px solid $third-color;
		}
	}

	&__btn {
		background-color: $primary-color;
		color: $secendary-color;
	}
	&__add-btn,
	&__delete-all-btn {
		color: $white;
		background-color: $third-color;
		border: 1px solid $primary-color;
	}
	&__add-btn:hover,
	&__delete-all-btn:hover {
		background-color: $primary-color;
		border: 1px solid $third-color;
	}
}
#dark .skills-box {
	color: black;
	background-color: $primary-color;
	border: 1px solid $white;
	box-shadow: 0px 0px 20px -10px $primary-color;

	&__list {
		&__btn {
			color: $white;
			background-color: $third-color;
			border: 1px solid $primary-color;
		}
		&__btn:hover {
			color: $black;
			font-weight: bold;
			background-color: $white;
			border: 1px solid $third-color;
		}
	}

	&__btn {
		background-color: $primary-color;
		color: $secendary-color;
	}
	&__add-btn,
	&__delete-all-btn {
		color: $white;
		background-color: $third-color;
		border: 1px solid $primary-color;
	}
	&__add-btn:hover,
	&__delete-all-btn:hover {
		color: $black;
		font-weight: bold;
		background-color: $white;
		border: 1px solid $third-color;
	}
}
@media (min-width: 1200px) {
	.skills-box {
		max-width: 42rem;
	}
}
@media (min-width: 1600px) {
	.skills-box {
		display: grid;

		justify-self: center;
		align-self: start;
		grid-column: 3/4;
		grid-row: 4/7;
	}
}
