@import '../sass/Variables.scss';
.about-me {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	min-height: calc(100vh - 60px);

	font-size: 4rem;
	&__edit-message {
		margin: 1rem auto;
		font-size: 0.5em;
		color: green;
	}
}

#light .about-me {
	background-color: $white;
}
#dark .about-me {
	background-color: $third-color;
}

@media (min-width: 1600px) {
	.about-me {
		display: grid;
		grid-template-columns: [first] 15% [first] 35% [secound] 35% [end] 15%;
		grid-template-rows: [row1] minmax(0px, max-content) [row1-end] auto [row2] auto [row2-end] auto [row3] auto [row3-end] auto [last-line];

		row-gap: 15px;
		padding-top: 3rem;
	}
}
