@import '../sass/Variables.scss';
.contact {
	display: flex;
	flex-direction: column;
	max-width: 100vw;
	min-height: calc(100vh - 60px);
	padding-top: 4rem;
	align-content: space-around;
	align-items: center;
	justify-content: space-around;
	font-size: 3rem;
}

#light .contact {
	background-color: $white;
}
#dark .contact {
	background-color: $third-color;
}
@media (min-width: 1600px) {
	.contact {
		display: grid;
		grid-template-columns: [first] 10% [first] 40% [secound] 40% [end] 10%;
		grid-template-rows: [row1] minmax(0px, max-content) [row1-end] auto [row2] auto [row2-end] auto [last-line];
		column-gap: 2rem;
		row-gap: 1.5rem;
		padding-top: 0rem;
	}
}
