@import '../sass/Variables.scss';

.projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	max-width: 100vw;
	min-height: 100vh;
	margin: 0 1rem;
	padding: 5rem calc((100% - (460px * 3)) / 3);
	font-size: 2rem;
	&__edit-message {
		width: 100%;
		margin: 0 auto 2rem auto;
		font-size: 1em;
		color: green;
		text-align: center;
	}
}

#light .projects {
	background-color: $white;
}
#dark .projects {
	background-color: $third-color;
}
@media (min-width: 800px) {
	.projects {
		margin: 0 6rem;
	}
}
@media (min-width: 992px) {
	.projects {
		font-size: 3rem;
	}
}
@media (min-width: 1900px) {
	.projects {
		padding: 5rem calc((100% - (440px * 3)) / 3);
	}
}
