.projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width: 100vw;
	height: calc(100vh - 100px);
	margin-top: 4rem;
	padding-bottom: 5rem;
	font-size: 3rem;
	overflow-x: hidden;
	&__edit-message {
		width: 100%;
		margin: 0 auto 2rem auto;
		font-size: 1em;
		color: green;
		text-align: center;
	}
}
