.projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width: 100vw;
	height: calc(100vh - 100px);
	padding-top: 2rem;
	padding-bottom: 5rem;
	font-size: 3rem;
	overflow-x: hidden;
}
